extends layout

block content
	h2 Sign Up

	form(method="post" id="form")
		label(for="name") Name:
		br
		input(type="text" id="name" name="name" required)
		br
		br

		label(for="surname") Surname:
		br
		input(type="text" id="surname" name="surname" required)
		br
		br

		label(for="email") Email:
		br
		input(type="email" id="email" name="email" required)
		br
		br

		label(for="password") Password:
		br
		input(type="password" id="password" name="password" required)
		br
		br

		label(for="nativeLanguage") Native Language:
		br
		input(type="text" id="nativeLanguage" name="nativeLanguage" required)
		br
		br

		label(for="targetLanguage") Target Language:
		br
		input(type="text" id="targetLanguage" name="targetLanguage" required)
		br
		br
		
		button(type="submit") Sign Up
		p
			a(href="./login") Already have an account? Login
		script(src="/script.js") 