extends layout

block content
	h2 Update User

	form(method="post" id="form")
		label(for="name") Name: 
		br
		input(type="text" id="name" name="name")
		br
		br

		label(for="surname") Surname: 
		br
		input(type="text" id="surname" name="surname")
		br
		br
		
		label(for="email") Email: 
		br
		input(type="email" id="email" name="email")
		br
		br
		
		label(for="password") Password: 
		br
		input(type="password" id="password" name="password")
		br
		br
		
		label(for="nativeLanguage") Native Language: 
		br
		input(type="nativeLanguage" id="nativeLanguage" name="nativeLanguage")
		br
		br
		
		label(for="targetLanguage") Target Language: 
		br
		input(type="targetLanguage" id="targetLanguage" name="targetLanguage")
		br
		br

		label User ID:
		br
		input(type="text" value=id id="userId" name="userId" disabled)
		br
		br

		button(type="submit") Update User

	script.
		const form = document.getElementById('form')
		form.addEventListener('submit', async (e) => {
			e.preventDefault()

			const user = {
				name: form.name.value,
				surname: form.surname.value,
				email: form.email.value,
				password: form.password.value,
				nativeLanguage: form.nativeLanguage.value,
				targetLanguage: form.targetLanguage.value,
			} 
			
			await axios.put('', user)
				.then((res) => console.log(res))
				.catch((err) => console.log(err))
			
		})