@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('./assets/fonts/css/all.css');

:root {
  --background-color: #F7F4EA;
	--text-color:#101304;
  --primary-color: #252507;
  --secondary-color: #363821;
  --tertiary-color: #C2AA2D;
  --accent-color: #BED08A;
  --danger-light: #EF2929;
  --danger-dark: #8B1818;
	
	--background-color-25:#F7F4EA25; 
  --background-color-50:#F7F4EA50; 
  --background-color-75:#F7F4EA75;
  --background-color-90:#F7F4EA90;
  
	--text-color-25: #cccccc; 
  --text-color-50: #808080;
  --text-color-75: #404040;
  --text-color-90: #1a1a1a;

  --primary-color-25: #25250725;
  --primary-color-50: #25250750;
  --primary-color-75: #25250775;
  --primary-color-75: #25250790;
  }

/* Basic Styles */
body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
	width: 1120px;
}

.section

.section-title{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.text{
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  font-weight: 400;
}